* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans',
        sans-serif;
    min-height: 100vh;
}

h1 {
    font-size: 1.8rem;
}

/* TOP PANEL  */
.topPanel.mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 4.2rem;
    width: 100vw;
    background-color: white;
}

.topPanel,
.topPanel .menu,
.topPanel .logo,
.topPanel .cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topPanel .menu {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.topPanel .logo {
    width: 55%;
    justify-content: flex-start;
}

.topPanel .cart {
    width: 25%;
    justify-content: flex-start;
    cursor: pointer;
}

.topPanel .cart img {
    width: 1.5em;
}

.topPanel .cart span {
    width: 20px;
    display: inline-block;
}

.desktop.topPanel {
    display: none;
}

/* MENU */

nav.menu-mobile {
    position: fixed;
    left: -100%;
    top: 0;
    display: flex;
    z-index: 30;
    transition: 0.5s;
}

nav.active {
    left: 0;
}

.menu-mobile ul {
    height: 100vh;
    background-color: white;
    width: 65vw;
}

.menu-mobile div {
    height: 100vh;
    width: 35vw;
    background-color: rgba(0, 0, 0, 0.733);
}

nav.menu-mobile ul {
    list-style: none;
}

nav.menu-mobile ul li:nth-child(1) {
    margin: 1em 0 1.5em 0.8em;
}

nav.menu-mobile li {
    color: black;
    padding: 0.8em;
    margin-left: 1em;

}

nav.menu-mobile li a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
}

/* PRODUCT - photo */

.productWrapper {
    margin-top: 4rem;
}

.productPhoto {
    width: 100vw;
    position: relative;
}

.productPhoto img {
    width: 100%;
}

.productPhoto img.arrow {
    position: absolute;
    z-index: 20;
    width: 0.7em;
    height: 0.8em;
    border: solid white 1em;
    box-sizing: content-box;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 0.8em;
    border-radius: 50%;
}

.productPhoto img.arrow~img {
    right: 0.8em;


}

/* PRODUCT - description */
.product-description {
    width: 90%;
    margin: 0 auto;
}

.product-description h2 {
    color: hsl(26, 100%, 55%);
    text-transform: uppercase;
    line-height: 3em;
    font-size: 0.8em;
}

.product-description h1+p {
    margin: 1em 0;
    color: gray;
    line-height: 1.5em;
}

/* PRODUCT - prices  */
.pricing {
    display: flex;
    align-items: center;
}

.pricing h1+div {
    flex-grow: 3;
    margin-left: 10px;

}

.pricing h1+div p {
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    text-align: center;
    width: 3em;
    height: 1.8rem;
    line-height: 1.8rem;
    border-radius: 10px;
}

.pricing h1+div+p {
    color: grey;
    font-weight: 700;
    text-decoration: line-through
}

/* PRODUCT - add to cart  */
div.counter,
.addToCart {
    margin: 1em auto;
    width: 90vw;
    height: 4rem;
    border-radius: 10px;
    line-height: 4rem;
    z-index: -1;
}

div.counter {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: hsl(223, 64%, 98%);
    text-align: center;
    font-weight: 700;
}

.counterNumber {
    flex-grow: 2;
}

.counter div {
    text-align: center;
    width: 20%
}

div.addToCart {
    width: 90vw;
    display: flex;
    justify-content: center;
    background-color: hsl(26, 100%, 55%);
    margin: 1em auto;
    color: white;
    box-shadow: 0 1em 1.5em hsl(26, 100%, 82%);
}

.addToCart div {
    background-color: white;
    -webkit-mask-image: url(images/icon-cart.svg);
    mask-image: url(icon.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: url(icon.svg);
    -webkit-mask-position: center;
    mask-position: url(icon.svg);
    width: 3rem;
    height: 4rem;

}

.displayCart {
    display: none;
}

.displayCart.active {
    display: block;
    width: 90vw;
    max-width: 25rem;
    min-height: 16rem;
    background-color: white;
    position: fixed;
    top: 4.8rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    box-shadow: 0 2em 4em rgba(17, 12, 12, 0.253);
    z-index: 30;
}

.displayCart p {
    font-weight: 700;
    padding: 1.5em;
    width: 100%;
    border-bottom: rgb(206, 206, 206) solid 1px;
}

.displayCart p+p {
    border-bottom: none;
    text-align: center;
    margin: auto;
}

/* footer */

footer {
    margin-top: 3em;
    position: inherit;
    width: 100%;
    text-align: center;
    z-index: -1;
}

.desktop-gallery {
    display: none;
}

.productShow {
    display: none;
}
@media (min-width: 600px) {
.displayCart.active {
   left: inherit;
   right:10vw;
   transform: translate(0);
}}
/*DESKTOP VERSION*/
@media (min-width: 850px) {
    body {
        margin: 0 auto;
        max-width: 1100px;
        align-items: center;
    }

    .mobile.topPanel {
        display: none;
    }

    nav.desktop.topPanel {
        display: flex;
        justify-content: center;
        border-bottom: solid 1px rgb(211, 205, 205);
        font-size: 1rem;
        height: 5.5rem;
    }

    .desktop.col1 {
        width: 80%;
        display: flex;
        list-style: none;
    }

    .desktop.col1 li:nth-child(1)~li:hover {
        border-bottom: solid 2px hsl(26, 100%, 55%)
    }

    .desktop.col2 {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .desktop.col1 li {
        padding: 2rem 1.5rem;
    }

    .desktop.col1 li a {
        text-decoration: none;
    }

    ul.desktop.col2 {
        list-style: none;
    }

    ul.desktop.col2 li.avatar img {
        height: 3.5rem;
        margin: 1.25rem;
    }

    ul.desktop.col2 li.cartTopPanel img {
        padding: 2rem 1.5rem;
    }

    /*Product */
    .productWrapper {
        display: flex;
        overflow: hidden;
    }

    .productPhoto {
        width: 35%;
        margin: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .productPhoto img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 2em;
    }

    .productPhoto img.arrow {
        display: none;
    }

    .desktop-gallery {
        display: flex;
        width: 100%;
        overflow: hidden;
        justify-content: space-between;
    }

    .desktop-gallery img {
        padding: 0;
        width: 20%;
    }

    /* PRODUCT - description */
    h1 {
        font-size: 2.3rem;
    }

    .pricing h1 {
        font-size: 1.8rem;
    }

    .desktop-desciption {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 5rem 4rem 8rem 3rem;
        justify-content: center;

    }

    .product-description div {
        width: 100%;
    }

    .description-buttons {
        display: flex;
        flex-direction: row;
        width: 100%;

    }

    div.counter,
    .addToCart {
        height: 3.2rem;
        line-height: 3.2rem;
    }

    div.counter {
        width: 32%;
    }

    div.addToCart {
        width: 64%;
    }

    .pricing {
        flex-wrap: wrap;
    }

    .pricing h1+div {
        width: 20%;
        margin: 1em 0.8em;
    }

    .pricing h1+div p {
        width: 10%;
    }

    .pricing h1+div+p {
        width: 90%;
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    /*Show big photo */
    .productShow.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.472);

    }

    .productShowWrapper {
        display: block;
        width: 30rem;
        max-height: 70%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .productShowWrapper .cross {
        width: 100%;
        height: 2rem;
        display: flex;
        justify-content: flex-end;
    }

    .productShowWrapper .cross path {
        height: 100%;
    }

    .productShowWrapper .cross path:hover {
        stroke: #FF7D1A;
        fill: #FF7D1A;
    }

    .productShow-bigPhoto {
        width: 100%;
        position: relative;
        margin-bottom: 2rem;
    }

    .productShow-bigPhoto div {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: calc(50% - 1.5rem);
        left: calc(0% - 1.5rem);
        background-color: white;
        line-height: 3rem;
        text-align: center;
        padding-right: 0.4em;
    }

    .productShow-bigPhoto img+div {
        left: inherit;
        padding-right: inherit;
        padding-left: 0.3em;
        right: calc(0% - 1.5rem);
    }

    .productShow-bigPhoto svg:hover path {
        stroke: #FF7D1A;
    }

    .productShow-bigPhoto img {
        width: 100%;
        border-radius: 10px;
    }


    .productShow-gallery {
        display: flex;
        width: 90%;
        margin: 0 auto;
        align-items: center;
        justify-content: space-around;
    }

    .productShow-gallery img {
        width: 19%;
        border-radius: 10px;
    }

    .productShow-gallery img.active {
        border: solid 3px hsl(26, 100%, 55%);
        opacity: 0.7;
        filter: brightness(1.2) saturate(0.5);
    }
        .displayCart.active {
            left: inherit;
            right: 8vw;
            top:6rem;
            transform: translate(0);
        }
}
@media (min-width: 1350px) {
    .displayCart.active {
        right: 15vw;
  }
}
@media (min-width: 1900px) {
    .displayCart.active {
        right: 20vw;
    }
}
@media (min-width: 2200px) {
    .displayCart.active {
        right: 30vw;
    }
}
    /*
    .cross {
        width: 30rem;
        height: 2rem;
        margin-bottom: 0.5em;
  background-color: white;
  -webkit-mask-image: url(images/icon-close.svg);
  mask-image: url(images/icon-close.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: url(images/icon-close.svg);
  -webkit-mask-position: right;
  mask-position: url(images/icon-close.svg);
    -webkit-mask-size: 1.5rem;
    mask-size: url(images/icon-close.svg);
    }
      .cross:hover {
      
          background-color:hsl(26, 100%, 55%)

      }

   */

